/* 
  Elle's custom styles
*/

#main {
  margin-top: 56px;
  padding: 20px;
}

div.scrollable {
  width: 100%;
  max-height: 60px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* td {
  max-height: 40px;
} */

.detail-modal {
  width: 90vw;
  max-width: 90vw;
}

/*
CSSTransitionGroup styling
 */
.sheetNames-enter {
  opacity: 0;
}

.sheetNames-enter.sheetNames-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.sheetNames-exit {
  opacity: 1;
}

.sheetNames-exit.sheetNames-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.sheetNames-appear {
  opacity: 0;
}

.sheetNames-appear.sheetNames-appear-active {
  opacity: 1;
  transition: opacity 0.5ms ease-in;
}
