/* 
  Elle's custom styles
*/

/* background-color: rgb(104, 54, 149); */

.scrollable-table {
  position: relative;
  height: 500px;
}
.scrollable-table thead tr {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.vertical-table .scrollable {
  max-height: 45px;
}

#main {
  margin-top: 56px;
  padding: 20px;
}

div.scrollable {
  width: 100%;
  max-height: 60px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.detail-modal {
  width: 90vw;
  max-width: 90vw;
}
